@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 109 52% 99%;
    --foreground: 109 67% 3%;
    --muted: 109 17% 88%;
    --muted-foreground: 109 6% 30%;
    --popover: 109 52% 99%;
    --popover-foreground: 109 67% 3%;
    --card: 109 52% 98%;
    --card-foreground: 109 67% 2%;
    --border: 109 8% 89%;
    --input: 109 8% 89%;
    --primary: 257 100% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 109 11% 90%;
    --secondary-foreground: 109 11% 30%;
    --accent: 109 20% 83%;
    --accent-foreground: 109 20% 23%;
    --destructive: 17 81% 23%;
    --destructive-foreground: 17 81% 83%;
    --ring: 109 54% 68%;
    --chart-1: 109 54% 68%;
    --chart-2: 109 11% 90%;
    --chart-3: 109 20% 83%;
    --chart-4: 109 11% 93%;
    --chart-5: 109 57% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 109 33% 3%;
    --foreground: 109 14% 99%;
    --muted: 109 17% 12%;
    --muted-foreground: 109 6% 70%;
    --popover: 109 33% 3%;
    --popover-foreground: 109 14% 99%;
    --card: 109 33% 4%;
    --card-foreground: 0 0% 100%;
    --border: 109 8% 10%;
    --input: 109 8% 10%;
    --primary: 109 54% 68%;
    --primary-foreground: 109 54% 8%;
    --secondary: 109 8% 17%;
    --secondary-foreground: 109 8% 77%;
    --accent: 109 15% 24%;
    --accent-foreground: 109 15% 84%;
    --destructive: 17 81% 60%;
    --destructive-foreground: 17 81% 0%;
    --ring: 109 54% 68%;
    --chart-1: 109 54% 68%;
    --chart-2: 109 8% 17%;
    --chart-3: 109 15% 24%;
    --chart-4: 109 8% 20%;
    --chart-5: 109 57% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
